<body>

<div class="baseGrid">
    <div class="mainFrame">

        <form id="post" method="get" action="/output">

            <div class="headIn">
                <div>
                    <label for="head">Head</label>
                    <input class="headField" type="text" id="head" name="head" required>
                </div>
            </div>

            <div class="bodyIn">
                <div>
                    <label for="body">Body</label>
                    <textarea class="bodyField" id="body" name="body" required></textarea>
                </div>
            </div>

            <div class="postBtn">
                <div>
                    <button>Post</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>