<div class="baseGrid">
    <div class="mainFrame">
<div>
    <div class="headIn">
        <input class="fixed" placeholder="{{x}}" readonly>
    </div>
</div>
<div class="bodyIn">
    <textarea class="bodyField" readonly>{{y}}</textarea>
</div>
    </div>
</div>