<div class="baseGrid">
    <div class="mainFrame">
        <form id="back" method="get" action="/input">
<div>
    <div class="headIn">
        <input class="fixed" placeholder="{{x}}" readonly>
    </div>
</div>
<div class="bodyIn">
    <textarea class="bodyField" readonly>{{y}}</textarea>
</div>
        <div class="postBtn">
            <button>New Post</button>
        </div>
        </form>
    </div>
</div>